.summarycard {
    height: fit-content;
    padding-top: 20px !important;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .summarycard-content {
    flex-direction: column;
    padding-bottom: 2%;
    justify-content: space-between !important;
    width: 100%;
  }
  
  .summarycard-item {
      list-style-type: none !important;
      background-color: #333333;
      padding: 10px ;
      margin-top: 2%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      overflow-y: scroll;
      width: 90%;
      height: fit-content;
  }